<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Prem AI Clone{% endblock %}</title>

    <!-- Tailwind CDN -->
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        .wave-bar{
    width:4px;
    height:10px;
    background: linear-gradient(to top,#7c3aed,#3b82f6);
    border-radius:3px;
    transition: height 0.1s linear;
}
    </style>
</head>

<body class="bg-gray-100 h-screen">
    {% block content %}{% endblock %}
</body>
</html>
